.searchBar{
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    
    background-color: rgb(111, 219, 238,.3);
}
.SearchBar{
    display:flex;
    flex-direction: row;
    align-items:center;
    background-color: rgb(111, 219, 238,.3);
}

.SearchBar > table > tbody > tr {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: column;
}
